/* External Stylesheet */


html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh; 
	margin: 0;
	max-width: 100%;
	background-image: url("../images/bg.png");
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #37363d;
}

h1 {
	font-family: Georgia, Times, "Times New Roman", serif;
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    position: relative;
	bottom: -20;
	color: #e3874f;
}

h2 {
	font-family: Georgia, Times, "Times New Roman", serif;
	text-align: left;
	color: #e3874f;
	font-weight: bold;
}

hr {
	border-color: #886a4a;
	
}

p img {
    float: left;
    border-color: #f7882f;
}

form {
	display: inline-grid;
}

form td {
	padding: 20px;
}

input {
	width: 300px;
	height: 30px;
}

textarea#styled {
	width: 100%;
	height: 120px;
}

a:link { color: #e3874f; }
a:visited { color: #e3874f; }
a:hover { color: #ff9b4a; }
a:active { color: #ff9b4a; }

.pageHeader {
	display: flex;
  /*justify-content: flex-end;
  flex-direction: row;*/
    height: 50px;
    align-items: baseline;
    background-color: #37363d;
    width: 100%;
    border-bottom: #f7882f;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.headerName {
	width: 70%;
	white-space: nowrap;
	margin-left: 50px;	
	position: relative;
	bottom: 0;
}

.name {
	/*background-color: #4aaaa5;
	padding: 7px;*/
    width: fit-content;
}

.headerMenu {
	width: 10%;
	position: relative;
    bottom: -20px
	
}

.pageContent {
	flex: 1 0 auto; 
	padding: 20px;
	width: 960px;
	margin-left: 50px;
}

.pageContentContainer {
	display: flex;
}

.contentMainContainer {
	width: 650px;
	padding: 20px;
}

.contentMain {
	background-color: #707070;
	-webkit-box-shadow: 10px 10px 5px -2px rgba(204,204,204,1);
	-moz-box-shadow: 10px 10px 5px -2px rgba(204,204,204,1);
	box-shadow: 10px 10px 5px -2px rgba(204,204,204,1);
	width: fit-content;
	padding: 20px;
	text-align: justify;
    height: fit-content;
    border-radius: 2em;
}

.contentSidebarContainer {
	width: 270px;
	padding: 20px;
}

.contentSidebar {
	background-color: #707070;
	-webkit-box-shadow: 10px 10px 5px -2px rgba(204,204,204,1);
	-moz-box-shadow: 10px 10px 5px -2px rgba(204,204,204,1);
	box-shadow: 10px 10px 5px -2px rgba(204,204,204,1);
	border-radius: 2em;
	width: fit-content;
	padding: 20px;
	text-align: center;
	margin-top: 50%;
	margin-bottom: 50%;
    
}

.pageFooter {
	flex-shrink: 0; 
  	padding: 20px;
  	background-color: #37363d;
  	text-align: center;
  	border-top: #FFA06F;
  	border-top-style: solid;
  	border-top-width: 2px;
  	color: #e3874f;
}

.imgTextOverlay {
	position: relative;
    bottom: 50px;
    background-color: #4aaaa5;
    padding: 10px;
    text-align: center;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #4aaaa5;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
  width: fit-content;
  height: 40px;
}

.btn:hover {
  background: #4aaaa5;
  background-image: -webkit-linear-gradient(top, #4aaaa5, #6FFFF7);
  background-image: -moz-linear-gradient(top, #4aaaa5, #6FFFF7);
  background-image: -ms-linear-gradient(top, #4aaaa5, #6FFFF7);
  background-image: -o-linear-gradient(top, #4aaaa5, #6FFFF7);
  background-image: linear-gradient(to bottom, #4aaaa5, #v);
  text-decoration: none;
}